ion-button {
  margin-right: 12px;
}

ion-content {
  --background: #e7e7e7;
}

h2 {
  font-weight: 700;
  margin-top: 0px;
}

.configurations {
  height: 100%;
  color: #222;
}

.labels {
  margin-left: 16px;
}

.options {
  background: #F5F5F5;
}
